/* SUPPRESSION DE VALEURS NATIVES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COULEURS EN VARIABLES */
:root {
    --rose: #F4CCC4;
    --cyan: #538BAA;
    --jaune: #FEED3C;
    --noir: #545454;
    --marron: #BF5D3C;
    --grey: #EEF1F3;
}

#container-general {
    display: flex;
}





/* ========== Wolverine B1DEV ========== */

/* mise en place du container de Wolverine */
#all {
    width: 100%;
    height: 100vh;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    position: relative;
}

/* attribution de la postion absolute à toutes les div enfant de #all */
#all > div {
    position: absolute;
}

/* dimensionnement et mise en place de tous les éléments de la figure Wolverine */

/* ===== TETE ===== */

/* regroupement des id parents pour leur attribuer une position relative */
#tete, #bras-corps, #bas {
    position: relative;
}

/* attribution de la position absolute à tous les enfants des id parents */
#tete > div, #bras-corps > div, #bas > div {
    position: absolute;
}

/* création du rond qui fait la tête */
#rond {
    background-color: var(--jaune);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* création du ovale pour la partie visible du visage */
#ovale {
    background-color: var(--rose);
    width: 50px;
    height: 15px;
    border-radius: 50%;
    top: 123px;
    left: 50px;
}

/* création du rectange qui se mettra au dessus du ovale */
#rectangle-tete {
    width: 50px;
    height: 40px;
    background: var(--rose);
    top: 90px;
    left: 50px;
}

/* création des yeux */
.yeux {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 140px solid var(--noir);
    opacity: 0.9; /* réduction de l'opacité des yeux */
}

/* placement des yeux */
#oeil1 {
    rotate: -45deg; /* rotation des yeux pour les mettre dans le bon sens */
    left: -25px;
    top: -25px;
}

#oeil2 {
    rotate: 45deg;
    left: 95px;
    top: -25px;
}

/*  ===== MILIEU DU CORPS ===== */

#ventre {
    background-color: var(--jaune);
    width: 175px;
    height: 200px;
    top: 130px;
    left: -14px;
    z-index: -1; /* positionnement du ventre à l'arrière de la tête, des gants et de la ceinture */
}

.bras {
    background: var(--rose);
    width: 50px;
    height: 175px;
}

#bras1 {
    left: -64px;
    top: 155px;
}

#bras2 {
    left: 161px;
    top: 155px;
}

.epaules {
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 60px solid var(--cyan);
}

#epaule1 {
    top: 121px;
    left: -95px;
    rotate: 45deg;
}

#epaule2 {
    left: 122px;
    rotate: -45deg;
    top: 121px;
}

.mains, .griffes {
    z-index: 1; /* positionnement des mains et des griffes devant la ceinture */
}

.mains {
    background: var(--cyan);
    width: 60px;
    height: 60px;
}

#main1 {
    left: -70px;
    top: 278px;
}

#main2 {
    left: 157px;
    top: 278px;
}

.griffes {
    width: 5px;
    height: 100px;
    background: aliceblue;
}

#griffe1 {
    top: 307px;
    left: -55px;
}

#griffe2 {
    top: 307px;
    left: -42px;
}

#griffe3 {
    top: 307px;
    left: -29px;
}

#griffe4 {
    top: 307px;
    left: 171px;
}

#griffe5 {
    top: 307px;
    left: 184px;
}

#griffe6 {
    top: 307px;
    left: 197px;
}

/* BAS DU CORPS */

.jambes {
    background: var(--jaune);
    width: 88px;
    height: 175px;
}

#jambe1 {
    top: 348px;
    left: -19px;
}

#jambe2 {
    top: 348px;
    left: 78px;
}

#slip {
    border-left: 93px solid transparent;
    border-right: 92px solid transparent;
    border-bottom: 93px solid var(--cyan);
    top: 348px;
    rotate: 180deg;
    left: -19px;
    opacity: 0.9;
}

#ceinture {
    background: var(--marron);
    width: 185px;
    height: 50px;
    top: 298px;
    left: -19px;
}

h1 {
    font-size: 400px;
}





/* ========== Wolverine B2DEV ========== */

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}

#container > div {
    position: absolute;
}

#container-jambes {
    display: flex;
    gap: 5px;
    top: 500px
}

.jambes2 {
    width: 80px;
    height: 180px;
    background-color: var(--jaune);
}

#buste {
    width: 175px;
    height: 250px;
    background-color: var(--jaune);
    top: 250px;
    opacity: 0.8;
}

#culotte {
    width: 175px;
    height: 80px;
    background-color: var(--cyan);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    top: 500px;
    opacity: 0.9;
}

#ceinture2 {
    width: 185px;
    height: 40px;
    background-color: var(--marron);
    top: 460px;
}

#container-bras {
    display: flex;
    gap: 175px;
    top: 260px;
}

.bras2 {
    width: 50px;
    height: 200px;
    background-color: var(--rose);
}

#container-epaulettes {
    display: flex;
    gap: 175px;
    top: 250px;
}

.epaulettes {
    width: 80px;
    height: 80px;
    background-color: var(--cyan);
    top: 500px;
    opacity: 0.9;
}

#epaulette-gauche {
    clip-path: polygon(100% 0, 100% 100%, 0 0);
}

#epaulette-droite {
    clip-path: polygon(0 0, 0 100%, 100% 0);
}

#container-gants {
    display: flex;
    gap: 165px;
    top: 410px;
}

.gants {
    width: 60px;
    height: 60px;
    background-color: var(--cyan);
    opacity: 0.9;
}

#container-griffes {
    display: flex;
    gap: 200px;
    top: 440px;
}

.container-trois-griffes {
    display: flex;
    gap: 6px;
    top: 10px;
}

.griffes2 {
    width: 5px;
    height: 80px;
    background-color: var(--grey);
}

#tete2 {
    width: 175px;
    height: 175px;
    background-color: var(--jaune);
    border-radius: 50%;
    top: 100px;
}

#container-bouche {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 210px;
}

#bouche {
    width: 70px;
    height: 50px;
    background-color: var(--rose);
}

#levres {
    width: 70px;
    height: 10px;
    background-color: var(--rose);
    border-radius: 50%;
    position: absolute; 
    top: 46px;
}

#container-yeux {
    display: flex;
    gap: 50px;
    top: 50px;
}

.yeux2 {
    width: 100px;
    height: 175px;
    background-color: var(--noir);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    opacity: 0.9;
}

#oeil-gauche {
    rotate: -40deg;
}

#oeil-droit {
    rotate: 40deg;
}